h1{
    color: blueviolet;
}
p{
    color: brown;
}
.para1{
    color: black;
}
.para2{
    color: chartreuse;
}
.para3{
    color: chocolate;
}
.par1{
    background-color: lightpink;
}
.par2{
    background-color: lightgreen;
}